<div class="max-w-[65ch] mx-auto text-center bg-white/95 border rounded mb-6">
  <p class="text-sm text-gray-600 pt-3">© 2025 // <strong>Mirai Blog</strong></p>
  <p class="text-sm text-gray-600 pb-3">
    Built with
    <a
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:underline focus:outline-none focus:ring-2 focus:ring-blue-400"
    >
      Astro
    </a>
  </p>
</div>
