---
import '../styles/global.css';
import '@fontsource-variable/sora';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
const { title, description, pubDate, author, image, tags } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="description" content={description} />
        <meta name="author" content={author} />
		<title>{ title }</title>
	</head>
	<body class="min-h-screen flex flex-col bg-grid">
        <header class="sticky top-4 z-50">
            <Navbar />
        </header>
        
        <main class="flex p-8 m-8 items-center justify-center mx-auto">
            <div class="prose max-w-[65ch]">
                <slot />
            </div>
        </main>
        <footer>
            <Footer />
        </footer>
	</body>
</html>
